<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="card.css">
    <title>Infusify | Docs | Card</title>
</head>
<body>
    <section id="card">
        <div class="card card-basic">
            <img src="/Images/card-image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Our Changing Planet</h3>
              <h5 class="card-subtitle">by Kurt Wagner</h5>
              <div class="card-text">Visit ten places on our planet that are undergoing the biggest changes today.</div>
              <div class="card-actions">
              <a href="#" class="card-btn-1">READ</a>
              <a href="#" class="card-btn-2">BOOKMARK</a>
              <a href="#" class="card-icon-1"><i class="far fa-heart"></i></a>
              <a href="#" class="card-icon-2"><i class="fas fa-share-alt"></i></a>
              <a href="#" class="card-icon-3"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            </div>
          </div>
          <div class="card card-only-buttons">
            <img src="/Images/card-image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Our Changing Planet</h3>
              <h5 class="card-subtitle">by Kurt Wagner</h5>
              <div class="card-text">Visit ten places on our planet that are undergoing the biggest changes today.</div>
              <div class="card-actions">
                <div class="card-buttons">
                <a href="#" class="card-btn-1">READ</a>
                <a href="#" class="card-btn-2">BOOKMARK</a>
              </div>
              <div class="card-icons">
                <a href="#" class="card-icon-1"><i class="far fa-heart"></i></a>
                <a href="#" class="card-icon-2"><i class="fas fa-share-alt"></i></a>
                <a href="#" class="card-icon-3"><i class="fas fa-ellipsis-v"></i></a>
              </div>
            </div>
            </div>
          </div>
          <div class="card card-only-icons">
            <img src="/Images/card-image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Our Changing Planet</h3>
              <h5 class="card-subtitle">by Kurt Wagner</h5>
              <div class="card-text">Visit ten places on our planet that are undergoing the biggest changes today.</div>
              <div class="card-actions">
              <a href="#" class="card-btn-1">READ</a>
              <a href="#" class="card-btn-2">BOOKMARK</a>
              <a href="#" class="card-icon-1"><i class="far fa-heart"></i></a>
              <a href="#" class="card-icon-2"><i class="fas fa-share-alt"></i></a>
              <a href="#" class="card-icon-3"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            </div>
          </div>
          <div class="card card-text-over-image">
            <img src="/Images/card-image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Our Changing Planet</h3>
              <h5 class="card-subtitle">by Kurt Wagner</h5>
              <div class="card-text">Visit ten places on our planet that are undergoing the biggest changes today.</div>
              <div class="card-actions">
              <a href="#" class="card-btn-1">READ</a>
              <a href="#" class="card-btn-2">BOOKMARK</a>
              <a href="#" class="card-icon-1"><i class="far fa-heart"></i></a>
              <a href="#" class="card-icon-2"><i class="fas fa-share-alt"></i></a>
              <a href="#" class="card-icon-3"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            </div>
          </div>
          <div class="card card-with-header">
            <img src="/Images/card-image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Our Changing Planet</h3>
              <h5 class="card-subtitle">by Kurt Wagner</h5>
              <div class="card-text">Visit ten places on our planet that are undergoing the biggest changes today.</div>
              <div class="card-actions">
              <a href="#" class="card-btn-1">READ</a>
              <a href="#" class="card-btn-2">BOOKMARK</a>
              <a href="#" class="card-icon-1"><i class="far fa-heart"></i></a>
              <a href="#" class="card-icon-2"><i class="fas fa-share-alt"></i></a>
              <a href="#" class="card-icon-3"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            </div>
          </div>
          <div class="card card-horizontal-image-text">
            <img src="/Images/card-image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Our Changing Planet</h3>
              <h5 class="card-subtitle">by Kurt Wagner</h5>
              <div class="card-text">Visit ten places on our planet that are undergoing the biggest changes today.</div>
              <div class="card-actions">
              <a href="#" class="card-btn-1">READ</a>
              <a href="#" class="card-btn-2">BOOKMARK</a>
              <a href="#" class="card-icon-1"><i class="far fa-heart"></i></a>
              <a href="#" class="card-icon-2"><i class="fas fa-share-alt"></i></a>
              <a href="#" class="card-icon-3"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            </div>
          </div>
          <div class="card card-basic card-badge">
            <img src="/Images/card-image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Our Changing Planet</h3>
              <h5 class="card-subtitle">by Kurt Wagner</h5>
              <div class="card-text">Visit ten places on our planet that are undergoing the biggest changes today.</div>
              <div class="card-actions">
              <a href="#" class="card-btn-1">READ</a>
              <a href="#" class="card-btn-2">BOOKMARK</a>
              <a href="#" class="card-icon-1"><i class="far fa-heart"></i></a>
              <a href="#" class="card-icon-2"><i class="fas fa-share-alt"></i></a>
              <a href="#" class="card-icon-3"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            <div class="badge">
              <div class="badge-sq status-online">Nature</div>
            </div>
            </div>
          </div>
          <div class="card card-basic card-dismiss">
            <img src="/Images/card-image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Our Changing Planet</h3>
              <h5 class="card-subtitle">by Kurt Wagner</h5>
              <div class="card-text">Visit ten places on our planet that are undergoing the biggest changes today.</div>
              <div class="card-actions">
              <a href="#" class="card-btn-1">READ</a>
              <a href="#" class="card-btn-2">BOOKMARK</a>
              <a href="#" class="card-icon-1"><i class="far fa-heart"></i></a>
              <a href="#" class="card-icon-2"><i class="fas fa-share-alt"></i></a>
              <a href="#" class="card-icon-3"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            <i class="fas fa-window-close card-close-icon"></i>
            </div>
          </div>
          <div class="card card-basic card-text-only">
            <img src="/Images/card-image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Our Changing Planet</h3>
              <h5 class="card-subtitle">by Kurt Wagner</h5>
              <div class="card-text">Visit ten places on our planet that are undergoing the biggest changes today.</div>
              <div class="card-actions">
              <a href="#" class="card-btn-1">READ</a>
              <a href="#" class="card-btn-2">BOOKMARK</a>
              <a href="#" class="card-icon-1"><i class="far fa-heart"></i></a>
              <a href="#" class="card-icon-2"><i class="fas fa-share-alt"></i></a>
              <a href="#" class="card-icon-3"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            </div>
          </div>
    </section>
    <script src="card.js"></script>
</body>
</html>