<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="/styles/docs.css">
    <title>Infusify | Docs | Button</title>
</head>
<body>
    <div class="flex-container flex-columns">
        <nav class="nav">
            <div class="left">
            <a href="https://infusify.netlify.app/" class="logo"><img src="/Images/logo-img.png"></a>
            <a href="https://infusify.netlify.app/" class="btn btn-link brand">Infusify</a>
            </div>
            <div class="right">
            <div class="input-group search hide"><input type="text" placeholder="Search"></div>
            <a href="/docs.html" class="active btn">Docs</a>
            <a href="https://github.com/KamiyaGaikwad/Infusify" class="btn btn-link">Github</a>
            <div class="theme-switch-box">
              <label class="theme-switch" for="checkbox">
           <input class="input-check" type="checkbox" id="checkbox" />
           <div class="slider round"></div>
         </label>
           
         </div>
        </div>
        </nav>
        <div class="flex-container">
            <nav class="flex-container flex-columns nav-vertical">
                <ul class="link-list">
                    <li class="nav-list"><a href="/docs.html" class="btn btn-link page-link"><div>Getting started</div></a></li>
                    <li class="nav-list"><a href="/components/Alert/alert.html" class="btn btn-link page-link"><div>Alert</div></a></li>
                    <li class="nav-list"><a href="/components/Avatar/avatar.html" class="btn btn-link page-link"><div>Avatar</div></a></li>
                    <li class="nav-list"><a href="/components/Badge/badge.html" class="btn btn-link page-link"><div>Badge</div></a></li>
                    <li class="nav-list  active-tab"><a href="/components/Button/button.html" class="btn btn-link page-link"><div>Button</div></a></li>
                    <li class="nav-list"><a href="/components/Card/card.html" class="btn btn-link page-link"><div>Card</div></a></li>
                    <li class="nav-list"><a href="/components/Image/image.html" class="btn btn-link page-link"><div>Image</div></a></li>
                    <li class="nav-list"><a href="/components/Input/input.html" class="btn btn-link page-link"><div>Input</div></a></li>
                    <li class="nav-list"><a href="/components/Navigation/navigation.html" class="btn btn-link page-link"><div>Navigation</div></a></li>
                    <li class="nav-list"><a href="/components/Rating/rating.html" class="btn btn-link page-link"><div>Rating</div></a></li>
                    <li class="nav-list"><a href="/components/Toast/toast.html" class="btn btn-link page-link"><div>Toast</div></a></li>
                </ul>
            </nav>
            <main class="ml mt flex-container flex-columns">
                <h1 class="active-link pb">Button</h1>
                <p class="text-font pb">Button is a clickable element which is used to perform call to action</p>
    
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C0%29&t=one-dark&wt=none&l=dart&width=800&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=6px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F%252FCss%2520File%250A%2540import%2520url%28%2522https%253A%252F%252Finfusify.netlify.app%252Fcomponents%252Fbutton%252Fbutton.css%2522%29%250A%2520%250A%252F%252Fhtml%2520file%250A%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522https%253A%252F%252Finfusify.netlify.app%252Fcomponents%252Fbutton%252Fbutton.css%2522%253E%250A%250A"
                style="width: 800px; height: 310px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
                <section id="button">
        <h2>Primary Solid Buttons</h2>
      <div class="button-container">
        <button class="btn btn-primary">PRIMARY</button>
        <button class="btn btn-warning">WARNING</button>
        <button class="btn btn-error">ERROR</button>
        <button class="btn btn-success">SUCCESS</button>
        <button class="btn btn-disabled">DISABLED</button>
      </div>

      <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C0%29&t=one-dark&wt=none&l=auto&width=800&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253EPRIMARY%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-warning%2522%253EWARNING%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-error%2522%253EERROR%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-success%2522%253ESUCCESS%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-disabled%2522%253EDISABLED%253C%252Fbutton%253E"
  style="width: 800px; height: 320px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>

    <h2>Outline Buttons</h2>
      <div class="button-container">
        <button class="btn btn-primary-outline">PRIMARY</button>
        <button class="btn btn-warning-outline">WARNING</button>
        <button class="btn btn-error-outline">ERROR</button>
        <button class="btn btn-success-outline">SUCCESS</button>
      </div> 

      <iframe
      src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C0%29&t=one-dark&wt=none&l=auto&width=800&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-primary-outline%2522%253EPRIMARY%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-warning-outline%2522%253EWARNING%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-error-outline%2522%253EERROR%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-success-outline%2522%253ESUCCESS%253C%252Fbutton%253E"
      style="width: 800px; height: 270px; border:0; transform: scale(1); overflow:hidden;"
      sandbox="allow-scripts allow-same-origin">
    </iframe>

    <h2>Text Buttons</h2>
      <div class="button-container">
      <button class="btn btn-primary-text">PRIMARY</button>
      <button class="btn btn-success-text">SUCCESS</button> 
    </div>

    <iframe
    src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C0%29&t=one-dark&wt=none&l=auto&width=800&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-primary-text%2522%253EPRIMARY%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-success-text%2522%253ESUCCESS%253C%252Fbutton%253E%2520"
    style="width: 800px; height: 250px; border:0; transform: scale(1); overflow:hidden;"
    sandbox="allow-scripts allow-same-origin">
  </iframe>

  <h2>Link Buttons</h2>
    <div class="button-container">
    <button class="btn btn-primary btn-link"><a href = "link">LINK</a></button>
    </div>

    <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C0%29&t=one-dark&wt=none&l=auto&width=800&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-link%2522%253E%250A%253Ca%2520href%2520%253D%2520%2522link%2522%253ELINK%253C%252Fa%253E%253C%252Fbutton%253E%250A"
  style="width: 800px; height: 250px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>

<h2>Sizes in Buttons</h2>
    <div class="button-container">
        <button class="btn btn-primary btn-sm">SMALL</button>
        <button class="btn btn-success">SUCCESS</button>
        <button class="btn btn-error btn-lg">LARGE</button>
    </div>

    <iframe
    src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C0%29&t=one-dark&wt=none&l=auto&width=800&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-sm%2522%253ESMALL%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-success%2522%253ESUCCESS%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-error%2520btn-lg%2522%253ELARGE%253C%252Fbutton%253E"
    style="width: 800px; height: 275px; border:0; transform: scale(1); overflow:hidden;"
    sandbox="allow-scripts allow-same-origin">
  </iframe>

  <h2>Icon Button</h2>
    <div class="button-container">
        <button class="btn btn-success btn-icon">
            <i class="fas fa-save"></i>SAVE
        </button>
        <button class="btn btn-primary btn-icon">
            <i class="fas fa-cloud-upload-alt"></i>UPLOAD
        </button>
    </div>

    <iframe
    src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C0%29&t=one-dark&wt=none&l=auto&width=800&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-success%2520btn-icon%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-save%2522%253E%253C%252Fi%253ESAVE%250A%2520%2520%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-icon%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-cloud-upload-alt%2522%253E%253C%252Fi%253EUPLOAD%250A%2520%2520%253C%252Fbutton%253E"
    style="width: 800px; height: 300px; border:0; transform: scale(1); overflow:hidden;"
    sandbox="allow-scripts allow-same-origin">
  </iframe>

  <h2>Floating Action Buttons</h2>
    <div class="button-container">
        <button class="btn btn-primary btn-float-not">
            <i class="fas fa-pencil-alt"></i>
        </button>
        <button class="btn btn-error btn-float-not">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>

    <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C0%29&t=one-dark&wt=none&l=auto&width=800&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-float%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-pencil-alt%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-error%2520btn-float%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-trash-alt%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A"
  style="width: 800px; height: 299px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>

</section>
</main></div></div>
<script src="/scripts/docs.js"></script>
</body>
</html>
