<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="button.css">
    <title>Infusify | Docs | Alert</title>
</head>
<body>
    <section id="button">
      <div class="button-container">
        <button class="btn btn-primary">PRIMARY</button>
        <button class="btn btn-warning">WARNING</button>
        <button class="btn btn-error">ERROR</button>
        <button class="btn btn-success">SUCCESS</button>
        <button class="btn btn-disabled">DISABLED</button>
      </div>
      <div class="button-container">
        <button class="btn btn-primary-outline">PRIMARY</button>
        <button class="btn btn-warning-outline">WARNING</button>
        <button class="btn btn-error-outline">ERROR</button>
        <button class="btn btn-success-outline">SUCCESS</button>
      </div> 
      <div class="button-container">
      <button class="btn btn-primary-text">PRIMARY</button>
      <button class="btn btn-success-text">SUCCESS</button> 
    </div>
    <div class="button-container">
    <button class="btn btn-primary btn-link"><a href = "link">LINK</a></button>
    </div>
    <div class="button-container">
        <button class="btn btn-primary btn-sm">SMALL</button>
        <button class="btn btn-success">SUCCESS</button>
        <button class="btn btn-error btn-lg">LARGE</button>
    </div>
    <div class="button-container">
        <button class="btn btn-success btn-icon">
            <i class="fas fa-save"></i>SAVE
        </button>
        <button class="btn btn-primary btn-icon">
            <i class="fas fa-cloud-upload-alt"></i>UPLOAD
        </button>
    </div>
    <div class="button-container">
        <button class="btn btn-primary btn-float">
            <i class="fas fa-pencil-alt"></i>
        </button>
        <button class="btn btn-error btn-float">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
</section>
</body>
</html>
