*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.avatar-container{
    width:100%;
    height:min-content;
    border:2px solid #DDDDDC;
    background-color: #F5F6F8;
    padding: 1rem;
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    gap:10px;
}

.avatar-sm{
    border-radius: 50%;
    height:1.5rem;
}

.avatar-md{
    border-radius: 50%;
    height:2.5rem;
}

.avatar-lg{
    border-radius: 50%;
    height:3.5rem;
}

.avatar-square{
    border-radius: 0.3rem;
}

