<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <link rel="stylesheet" href="/styles/docs.css">
    <title>Infusify | Docs | Avatar</title>
</head>
<body>
    <div class="flex-container flex-columns">
        <nav class="nav">
            <div class="left">
            <a href="https://infusify.netlify.app/" class="logo"><img src="/Images/logo-img.png"></a>
            <a href="https://infusify.netlify.app/" class="btn btn-link brand">Infusify</a>
            </div>
            <div class="right">
            <div class="input-group search hide"><input type="text" placeholder="Search"></div>
            <a href="/docs.html" class="btn active">Docs</a>
            <a href="https://github.com/KamiyaGaikwad/Infusify" class="btn btn-link">Github</a>
        </div>
        </nav>
        <div class="flex-container">
        <nav class="flex-container flex-columns nav-vertical">
            <ul class="link-list">
                <li class="nav-list"><a href="/docs.html" class="btn btn-link page-link">Getting started</a></li>
                <li class="nav-list"><a href="/components/Alert/alert.html" class="btn btn-link page-link">Alert</a></li>
                <li class="nav-list  active-tab"><a href="/components/Avatar/avatar.html" class="btn btn-link page-link">Avatar</a></li>
                <li class="nav-list"><a href="/components/Badge/badge.html" class="btn btn-link page-link">Badge</a></li>
                <li class="nav-list"><a href="/components/Button/button.html" class="btn btn-link page-link">Button</a></li>
                <li class="nav-list"><a href="/components/Card/card.html" class="btn btn-link page-link">Card</a></li>
                <li class="nav-list"><a href="/components/Image/image.html" class="btn btn-link page-link">Image</a></li>
                <li class="nav-list"><a href="/components/Input/input.html" class="btn btn-link page-link">Input</a></li>
                <li class="nav-list"><a href="/components/Navigation/navigation.html" class="btn btn-link page-link">Navigation</a></li>
                <li class="nav-list"><a href="/components/Rating/rating.html" class="btn btn-link page-link">Rating</a></li>
                <li class="nav-list"><a href="/components/Toast/toast.html" class="btn btn-link page-link">Toast</a></li>
            </ul>
        </nav>
        <main class="ml mt flex-container flex-columns">
            <h1 class="active-link pb">Avatar</h1>
            <p class="text-font pb">Avatar is used to show user's profile picture on Navigation and profile page.</p>
            <h2 class="active-link pb">Rounded Avatar</h2>
            <div class="avatar-container">
    <img src="/Images/avatar-img4.svg" alt="avatar" class="avatar-sm">
    <img src="/Images/avatar-img5.svg"alt="avatar" class="avatar-md">
    <img src="/Images/avatar-img6.svg" alt="avatar" class="avatar-lg">
    </div>
    <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C0%29&t=one-dark&wt=none&l=auto&width=800&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Cimg%2520src%253D%2522%252FImages%252Favatar-img4.svg%2522%2520alt%253D%2522avatar%2522%2520class%253D%2522avatar-sm%2522%253E%250A%2520%2520%253Cimg%2520src%253D%2522%252FImages%252Favatar-img5.svg%2522alt%253D%2522avatar%2522%2520class%253D%2522avatar-md%2522%253E%250A%2520%2520%253Cimg%2520src%253D%2522%252FImages%252Favatar-img6.svg%2522%2520alt%253D%2522avatar%2522%2520class%253D%2522avatar-lg%2522%253E%250A"
  style="width: 800px; height: 255px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
    <h2 class="active-link pb">Square Avatar</h2>
    <div class="avatar-container">
        <img src="/Images/avatar-img4.svg" alt="avatar" class="avatar-sm avatar-square">
        <img src="/Images/avatar-img5.svg"alt="avatar" class="avatar-md avatar-square">
        <img src="/Images/avatar-img6.svg" alt="avatar" class="avatar-lg avatar-square">
    </div>
    <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C0%29&t=one-dark&wt=none&l=auto&width=800&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%250A%253Cimg%2520src%253D%2522https%253A%252F%252Finfusify.netlify.app%252FImages%252Favatar-img4.svg%2522%2520alt%253D%2522avatar%2522%2520class%253D%2522avatar-sm%2520avatar-square%2522%253E%250A%253Cimg%2520src%253D%2522https%253A%252F%252Finfusify.netlify.app%252FImages%252Favatar-img5.svg%2522alt%253D%2522avatar%2522%2520class%253D%2522avatar-md%2520avatar-square%2522%253E%250A%253Cimg%2520src%253D%2522https%253A%252F%252Finfusify.netlify.app%252FImages%252Favatar-img6.svg%2522%2520alt%253D%2522avatar%2522%2520class%253D%2522avatar-lg%2520avatar-square%2522%253E%250A%2520%2520%2520"
  style="width: 800px; height: 318px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
</main></div></div>
</body>
</html>