<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="toast.css">
    <title>Infusify | Docs | Toast</title>
</head>
<body>
    <section id="toast">
    <div class="toast-container">
        <div class="toast toast-error">
            Error Toast!
            <i class="far fa-times-circle close"></i>
        </div>
        <div class="toast toast-success">
            Success Toast!
            <i class="far fa-times-circle close"></i>
        </div>
        <div class="toast toast-primary">
            Primary Toast!
            <i class="far fa-times-circle close"></i>
        </div>
        <div class="toast toast-warning">
            Warning Toast!
            <i class="far fa-times-circle close"></i>
        </div>
    </div>
    <div class="toast-container">
        <button class="btn btn-pink toast-btn">TOAST</button>
        <div class="toast toast-primary timed-toast">
            Primary Toast!
            <i class="far fa-times-circle close"></i>
        </div>
    </div>
</section>
<script src="toast.js"></script>
</body>
</html>