<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="alert.css">
    <title>Infusify | Docs | Alert</title>
</head>
<body>
    <section id="alert">
        <div class="alert-container">
        <div class="alert primary">
            <i class="fas fa-info-circle"></i>
            This is a Primary Alert - Check it now!
        </div>

        <div class="alert error">
            <i class="fas fa-exclamation-triangle"></i>
            This is an Error Alert - Check it now!
        </div>

        <div class="alert success">
            <i class="fas fa-check-circle"></i>
            This is a Success Alert - Check it now!
        </div>

        <div class="alert warning">
            <i class="fas fa-exclamation-circle"></i>
            This is a Warning Alert - Check it now!
        </div>
    </div>
    <div class="alert-container">
        <div class="alert outline-primary">
            <i class="fas fa-info-circle"></i>
            This is a Primary Alert - Check it now!
        </div>

        <div class="alert outline-error">
            <i class="fas fa-exclamation-triangle"></i>
            This is an Error Alert - Check it now!
        </div>

        <div class="alert outline-success">
            <i class="fas fa-check-circle"></i>
            This is a Success Alert - Check it now!
        </div>

        <div class="alert outline-warning">
            <i class="fas fa-exclamation-circle"></i>
            This is a Warning Alert - Check it now!
        </div>
    </div>
</section>
</body>
</html>