*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alert{
    width:100%;
    height:50px;
    margin:1rem;
    border-radius:0.3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #FFFEFF;
    flex-wrap: wrap;
    position: relative;
}

.success{
    background-color: #85F1C8;
    color: #1A7152;
}

.primary{
    background-color: #93d2e2;
    color: #1e74b9;
}

.error{
    color: #dc3545;
    background-color: #fcc5c5;
}

.warning{
    color: #db7e03;
    background-color: #ffe7c5;
}

.alert i {
    padding-right:10px;
}

.alert-container{
    width:100%;
    height:min-content;
    border:2px solid #DDDDDC;
    background-color: #F5F6F8;
    padding: 1rem;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outline-primary{
    color: #1e74b9;
    border: 1px solid #1e74b9;
}

.outline-success{
    color: #1A7152;
    border: 1px solid #1A7152;
}

.outline-error{
    color: #dc3545;
    border: 1px solid #dc3545;
}

.outline-warning{
    color: #db7e03;
    border: 1px solid #db7e03;
}

.alert .close {
    position: absolute;
    right: 10px;
    font-size: 1.6rem;
    color:#817462;
    cursor: pointer;
}

.alert .close:hover{
    color:rgb(37, 37, 37);
}