:root{
    --dark-red:#dc3545;
    --dark-blue:#1e74b9;
    --white:#fefefe;
    --dark-orange:#db7e03;
    --dark-green:#29A744;
    --container-border-white:#DDDDDC;
    --container-background-white:#F5F6F8;
    --violet:rgb(97, 20, 97);
    --light-pink:#d8bfd8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

.badge-container{
    width:100%;
    height:min-content;
    border:2px solid var(--container-border-white);
    background-color: var(--container-background-white);
    padding: 1rem;
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    gap:25px;
}

.avatar-sm{
    border-radius: 50%;
    height:1.5rem;
}

.avatar-md{
    border-radius: 50%;
    height:2.5rem;
}

.avatar-lg{
    border-radius: 50%;
    height:3.5rem;
}

.avatar-square{
    border-radius: 0.3rem;
}

.badge{
    position: relative;
}

.badge-avatar-lg{
    border-radius: 50%;
    height:1.2rem;
    width:1.2rem;
    position: absolute;
    top:38px;
    left:38px;
    border:2px solid var(--white);
}

.status-online{
    background-color: var(--dark-green);
}

.status-offline{
    background-color: var(--dark-red);
}

.status-busy{
    background-color: var(--dark-orange);
}

.badge-avatar-md{
    border-radius: 50%;
    height:0.8rem;
    width:0.8rem;
    position: absolute;
    top:28px;
    left:28px;
    border:2px solid var(--white);
}

.badge-avatar-sm{
    border-radius: 50%;
    height:0.6rem;
    width:0.6rem;
    position: absolute;
    top: 16px;
    left:16px;
    border:1px solid var(--white);
}

.badge i{
    font-size: 2rem;
}

.badge-icon{
    border-radius: 50%;
    background-color: var(--violet);
    color: var(--light-pink);
    width: 1.2rem;
    height:1.2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    position: absolute;
    top:-8px;
    right:-8px;
}

.badge-sq{
    padding: 0.3rem;
    border-radius: 0.3rem;
    color:var(--white);
}

.status{
    background-color: var(--dark-blue);
}