<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="badge.css">
    <title>Infusify | Docs | Badge</title>
</head>
<body>
    <div class="badge-container">
        <div class="badge">
            <img src="/Images/avatar-img4.svg" class="avatar-lg">
            <div class="badge-avatar-lg status-online"></div>
        </div>
        <div class="badge">
            <img src="/Images/avatar-img5.svg" class="avatar-md">
            <div class="badge-avatar-md status-offline"></div>
        </div> 
        <div class="badge">
            <img src="/Images/avatar-img6.svg" class="avatar-sm">
            <div class="badge-avatar-sm status-busy"></div>
        </div> 
    </div>

    <div class="badge-container">
        <div class="badge">
            <i class="fas fa-shopping-cart"></i>
            <div class="badge-icon">5</div>
        </div>
        <div class="badge">
            <i class="fas fa-bell"></i>
            <div class="badge-icon">4</div>
        </div> 
        <div class="badge">
            <i class="fas fa-envelope-square"></i>
            <div class="badge-icon">3</div>
        </div> 
    </div>
</body>
</html>