@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root{
    --dark-red:#dc3545;
    --dark-blue:#1e74b9;
    --white:#fefefe;
    --dark-orange:#db7e03;
    --dark-green:#29A744;
    --container-border-white:#DDDDDC;
    --container-background-white:#F5F6F8;
    --violet:rgb(97, 20, 97);
    --light-pink:#d8bfd8;
    --card-body-border-white:#E9E8E9;
    --card-icon-black:rgba(0, 0, 0, 0.54);
    --card-purple:#9501EE;
    --background-gray:#c2c5c2;
    --shadow-black:rgba(0,0,0,0.2);
    --font-family:'Roboto', sans-serif;
    --hot-pink:#991869;
    --brand-font:'Julius Sans One', sans-serif;
    --black:#000000;
    --alert-close-brown:#817462;
    --darker-green:#1A7152;
    --alert-close-hover-black:rgb(37, 37, 37);
    --light-orange:#ffe7c5;
    --light-red:#fcc5c5;
    --light-blue:#93d2e2;
    --light-green:#85F1C8;
    --alert-background-white:#FFFEFF;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

.modal{
    width: 300px;
  max-width: 100%;
  height: 250px;
  max-height: 100%;
    margin:1rem;
    border-radius:0.3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--card-body-border-white);
    flex-wrap: wrap;
    position: relative;
    font-family: var(--font-family);
    flex-direction: column;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:3;
}


.modal i {
    padding-right:1%;
}

.modal-container{
    width:100%;
    height:min-content;
    border:2px solid var(--container-border-white);
    background-color: var(--container-background-white);
    padding: 1rem;
    display: flex;
    margin: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}

.modal .modal-close-icon {
    position: absolute;
    right: 10px;
    font-size: 1.6rem;
    color:var(--alert-close-brown);
    cursor: pointer;
}

.modal .modal-close-icon:hover{
    color:var(--alert-close-hover-black);
}

.btn{
    height:min-content;
    width:min-content;
    padding: 0.8rem;
    border:none;
    border-radius: 0.3rem;
    color:var(--white);
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.5px;
}

.btn-primary:hover{
    opacity: 0.7;
}

.btn-pink{
    background-color: var(--hot-pink);
}

.timed-toast{
    display: none;
    position: absolute;
    top:10px;
    right:10px;
    z-index: 3;
}

.timed-toast .toast-close-icon{
    top:14px;
}

.modal-header{
    width: 100%;
    text-align: center;
}

.modal-content{
    width: 100%;
    text-align: center;
}

.line {
    height: 1px;
    background-color: var(--container-border-white);
    width: 100%;
    margin: 1rem 0;
}

.modal-primary{
    border:2px solid var(--dark-blue);
}

.modal-background{
    display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: var(--black);
  background-color: var(--card-icon-black);
}