@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root{
    --dark-red:#dc3545;
    --dark-blue:#1e74b9;
    --white:#fefefe;
    --dark-orange:#db7e03;
    --dark-green:#29A744;
    --container-border-white:#DDDDDC;
    --container-background-white:#F5F6F8;
    --violet:rgb(97, 20, 97);
    --light-pink:#d8bfd8;
    --card-body-border-white:#E9E8E9;
    --card-icon-black:rgba(0, 0, 0, 0.54);
    --card-purple:#9501EE;
    --background-gray:#c2c5c2;
    --shadow-black:rgba(0,0,0,0.2);
    --font-family:'Roboto', sans-serif;
    --hot-pink:#991869;
    --brand-font:'Julius Sans One', sans-serif;
    --black:#000000;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

.nav{
    display:flex;
    align-items: center;
    background-color: cadetblue;
    justify-content: space-between;
    background-color: var(--hot-pink);
    padding: 0 2rem;
    font-family: var(--brand-font);
}

.nav .left{
    display: flex;
    align-items: center;
}

.nav .right{
    display: flex;
    align-items: center;
}


.nav .btn,.nav-vertical .btn{
    height:min-content;
    width:min-content;
    padding: 0.8rem;
    border:none;
    border-radius: 0.3rem;
    color:var(--white);
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.5px;
}

.nav .btn-link,.nav-vertical .btn-link{
    text-decoration: none;
    color:var(--white);
}

.nav .right .btn,.nav .left .btn{
    background-color: transparent;
}

.img-resp{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.responsive-container{
    width:600px;
    min-height: 100px;
}

.pb{
    padding-bottom: 0.8rem;
}

.input-group{
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    gap:5px;
    margin-bottom: 0.8rem;
    position: relative;
}

.nav .input-group input{
    padding: 0.2rem;
    border-radius: 0.3rem;
    border: 3px solid transparent;
    font-family: var(--font-family);
    background-color: var(--card-body-border-white);
    outline: none;
}

.nav .input-group{
    padding:0;
    margin-bottom: 0;
    margin-right: 15px;
}

.nav .input-group input:focus {
    border: 3px solid var(--background-gray);
  }

.brand{
    font-family: var(--brand-font);
    font-weight: 700;
}

input::placeholder{
    font-family: var(--brand-font);
}

.search-links{
    position: absolute;
    top:70px;
    right:80px;
    display: flex;
    flex-wrap: wrap;
    width:30%;
    gap:10px;
    justify-content: center;
    background-color: var(--background-gray);
    padding:1rem;
    border-radius: 0.3rem;
    transition: 0.5s ease-out;
}

.search-links .btn-link{
    background-color: var(--hot-pink);
}

.hide{
    display: none;
}

.active{
    text-decoration:underline;
    text-underline-position: under;
}

.nav .page-link,.nav-vertical .page-link{
    color:var(--card-icon-black);
    font-weight: 800;
    background-color: transparent;
    font-size: 1.2em;
}

.nav .link-list,.nav-vertical .link-list{
    padding:0.5rem;
    list-style: none;
}

.nav .nav-list,.nav-vertical .nav-list{
    padding:0.2em 0.8em 1.2em 0.8em;
    cursor: pointer;
    text-align: center;
}

.active-link{
    color:var(--hot-pink);
}

.nav-vertical .nav-list:hover:not(.active-tab){
    background-color: var(--background-gray);
}

.active-tab{
    background-color: var(--light-pink);
}

.text-font{
    font-family: var(--font-family);
    color:var(--black);
    line-height: 1.5rem;
}

.nav .left .brand{
    height: min-content;
    width: min-content;
}

.nav .logo{
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .nav .input-group input{
        width:3.5em;
        height:1.5em;
    }
    .nav .input-group input::placeholder{
        font-size: 0.6em;
    }
    .nav{
        /* width:100%; */
        font-size: 0.6em;
    }

    .nav .left a .brand{
        font-size:0.3em;
        padding-bottom: 0;
    }
  }


.flex-container{
    display:flex;
}
.flex-rows{
    flex-direction: row;
}

.flex-columns{
    flex-direction: column;
}

.nav-vertical{
    grid-area: aside;
    background-color: var(--container-border-white);
    height:100vh;
    width:21%;
    position: sticky;
    top:0px;
    bottom:100px;
    overflow-y: auto;
    font-family: var(--brand-font);
}

.nav-vertical .btn-link{
    background-color: transparent;
    font-size:1.2rem;
    color:var(--hot-pink);
    padding:0;
    padding-top: 0.4rem;
    margin-left:3rem;
}

.mb{
    margin-bottom:0.8rem;
}

.ml{
    margin-left:4rem;
}

.mt{
    margin-top:1rem;
}
.brand{
    text-decoration: none;
}

.nav .btn-primary{
    padding:0.6em 0.8em;
}

.nav .badge{
    margin:0 1em;
}

.nav .cart-icon{
    margin-left: 0;
}

.nav .badge i{
    font-size: 1.7em;
    color: var(--light-pink);
}

.nav .brand{
    text-decoration: none;
}
.nav .badge a{
    cursor: pointer;
}

.nav .logo img{
    height: 50px;
}

h1,h2{
    font-family: var(--brand-font);
}
