@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root{
    --dark-red:#dc3545;
    --dark-blue:#1e74b9;
    --white:#fefefe;
    --dark-orange:#db7e03;
    --dark-green:#29A744;
    --container-border-white:#DDDDDC;
    --container-background-white:#F5F6F8;
    --violet:rgb(97, 20, 97);
    --light-pink:#d8bfd8;
    --card-body-border-white:#E9E8E9;
    --card-icon-black:rgba(0, 0, 0, 0.54);
    --card-purple:#9501EE;
    --background-gray:#c2c5c2;
    --shadow-black:rgba(0,0,0,0.2);
    --font-family:'Roboto', sans-serif;
    --hot-pink:#991869;
    --brand-font:'Julius Sans One', sans-serif;
    --black:#000000;
    --alert-close-brown:#817462;
    --darker-green:#1A7152;
    --alert-close-hover-black:rgb(37, 37, 37);
    --light-orange:#ffe7c5;
    --light-red:#fcc5c5;
    --light-blue:#93d2e2;
    --light-green:#85F1C8;
    --alert-background-white:#FFFEFF;
    --btn-disabled-brown:#929392;
    --btn-hover-gray:#dad8d8;
    --rating-success-background:rgb(41, 167, 68,0.4);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    font-family: var(--font-family);
}

/* Alert */

.alert{
    width:100%;
    height:50px;
    margin:1rem;
    border-radius:0.3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--alert-background-white);
    flex-wrap: wrap;
    position: relative;
}

.success{
    background-color: var(--light-green);
    color: var(--darker-green);
}

.primary{
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.error{
    color: var(--dark-red);
    background-color: var(--light-red);
}

.warning{
    color: var(--dark-orange);
    background-color: var(--light-orange);
}

.alert i {
    padding-right:10px;
}

.alert-container{
    width:100%;
    height:min-content;
    border:2px solid var(--container-border-white);
    background-color: var(--container-background-white);
    padding: 1rem;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}

.outline-primary{
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.outline-success{
    color: var(--darker-green);
    border: 1px solid var(--darker-green);
}

.outline-error{
    color: var(--dark-red);
    border: 1px solid var(--dark-red);
}

.outline-warning{
    color: var(--dark-orange);
    border: 1px solid var(--dark-orange);
}

.alert .close {
    position: absolute;
    right: 10px;
    font-size: 1.6rem;
    color:var(--alert-close-brown);
    cursor: pointer;
}

.alert .close:hover{
    color:var(--alert-close-hover-black);
}

/* Avatar */

.avatar-container{
    width:100%;
    height:min-content;
    border:2px solid var(--container-border-white);
    background-color: var(--container-background-white);
    padding: 1rem;
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    gap:10px;
}

.avatar-sm{
    border-radius: 50%;
    height:1.5rem;
}

.avatar-md{
    border-radius: 50%;
    height:2.5rem;
}

.avatar-lg{
    border-radius: 50%;
    height:3.5rem;
}

.avatar-square{
    border-radius: 0.3rem;
}

/* Badge */

.badge-container{
    width:100%;
    height:min-content;
    border:2px solid var(--container-border-white);
    background-color: var(--container-background-white);
    padding: 1rem;
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    gap:25px;
}

.badge{
    position: relative;
}

.badge-avatar-lg{
    border-radius: 50%;
    height:1.2rem;
    width:1.2rem;
    position: absolute;
    top:38px;
    left:38px;
    border:2px solid var(--white);
}

.status-online{
    background-color: var(--dark-green);
}

.status-offline{
    background-color: var(--dark-red);
}

.status-busy{
    background-color: var(--dark-orange);
}

.badge-avatar-md{
    border-radius: 50%;
    height:0.8rem;
    width:0.8rem;
    position: absolute;
    top:28px;
    left:28px;
    border:2px solid var(--white);
}

.badge-avatar-sm{
    border-radius: 50%;
    height:0.6rem;
    width:0.6rem;
    position: absolute;
    top: 16px;
    left:16px;
    border:1px solid var(--white);
}

.badge i{
    font-size: 2rem;
}

.badge-icon{
    border-radius: 50%;
    background-color: var(--violet);
    color: var(--light-pink);
    width: 1.2rem;
    height:1.2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    position: absolute;
    top:-8px;
    right:-8px;
}

.badge-sq{
    padding: 0.3rem;
    border-radius: 0.3rem;
    color:var(--white);
}

.status{
    background-color: var(--dark-blue);
}

/* Button */

.btn{
    height:min-content;
    width:min-content;
    padding: 0.8rem;
    border:none;
    border-radius: 0.3rem;
    color:var(--white);
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.5px;
}

.btn-success:hover,.btn-primary:hover,.btn-warning:hover,.btn-error:hover{
    opacity: 0.7;
}

.btn-success{
    background-color: var(--dark-green);
}

.btn-primary{
    background-color: var(--dark-blue);
}

.btn-warning{
    background-color: var(--dark-orange);
}

.btn-error{
    background-color: var(--dark-red);
}

.btn-disabled{
    background-color: var(--btn-disabled-brown);
    pointer-events: none;
}

.button-container{
    width:100%;
    height:min-content;
    border:2px solid var(--container-border-white);
    background-color: var(--container-background-white);
    padding: 1rem;
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    gap:10px;
}

.btn-primary-outline{
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
}

.btn-primary-outline:hover{
    background-color: var(--dark-blue);
    color:var(--white);
}

.btn-success-outline{
    color: var(--dark-green);
    border: 2px solid var(--dark-green);
}

.btn-success-outline:hover{
    background-color: var(--dark-green);
    color:var(--white);
}

.btn-warning-outline{
    color: var(--dark-orange);
    border: 2px solid var(--dark-orange);
}

.btn-warning-outline:hover{
    background-color: var(--dark-orange);
    color:var(--white);
}

.btn-error-outline{
    color: var(--dark-red);
    border: 2px solid var(--dark-red);
}

.btn-error-outline:hover{
    background-color: var(--dark-red);
    color:var(--white);
}

.btn-primary-text{
    color: var(--dark-blue);
    background-color: transparent;
}

.btn-success-text{
    color:var(--dark-green);
    background-color: transparent;
}

.btn-primary-text:hover,.btn-success-text:hover{
    background-color:var(--btn-hover-gray);
}

.btn-link a{
    text-decoration: none;
    color:var(--white);
}

.btn-sm{
    font-size: 0.6rem;
    height:28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-lg{
    font-size: 1.2rem;
    height:58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.btn i {
    font-size: 1.2rem;
}

.btn-float{
    border-radius: 50%;
    padding: 1.2rem;
    position: fixed;
    z-index:3;
}   

.btn-float-not{
    border-radius: 50%;
    padding: 1.2rem;
    position:static;
    z-index:1;
}

/* Card */

#card{
    background-color:var(--background-gray);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.card{
    margin:1rem;
    border-bottom:1px solid var(--card-body-border-white);
    border-radius: 0.3rem;
    background-color: var(--white);
}

.card-basic{
    height: 400px;
    width:340px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img img img img img"
    "title title title title title"
    "subtitle subtitle subtitle subtitle subtitle"
    "ctext ctext ctext ctext ctext"
    "read book fav share more";
}

.card-img-top{
    height:196px;
    width: 100%;
    grid-area: img;
    border-radius: 0.3rem 0.3rem 0 0;
}
.card-title{
    grid-area:title;
}

.card-subtitle{
    grid-area:subtitle;
    margin-bottom: 1rem;
    color: var(--card-icon-black);
    line-height: 1.5rem;
}

.card-text{
    grid-area:ctext;
    font-size:0.9rem;
    color: var(--card-icon-black);
    line-height: 1.2rem;
}

.card-btn-1 {
    grid-area:read;
    font-weight: bold;
    text-decoration: none;
    color:var(--card-purple);
}

.card-btn-2 {
    grid-area:book;
    font-weight: bold;
    text-decoration: none;
    color:var(--card-purple);
}

.card-icon-1 {
    grid-area:fav;
    font-size: 1.2rem;
    color: var(--card-icon-black);
}

.card-icon-2 {
    grid-area:share;
    font-size: 1.2rem;
    color: var(--card-icon-black);
}

.card-icon-3 {
    grid-area:more;
    font-size: 1.2rem;
    color: var(--card-icon-black);
}

.card-body{
    padding:10px;
    border-left:1px solid var(--card-body-border-white);
    border-right:1px solid var(--card-body-border-white);
}


.card-actions {
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: -30px;
    left: -10px;
}

.card-buttons{
    display: flex;
    justify-content: center;
    gap:35px;
}

.card-icons{
    display: flex;
    justify-content: center;
    gap:35px;
}

.card-only-buttons{
    height: 400px;
    width:340px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img img img img img"
    "title title title title title"
    "subtitle subtitle subtitle subtitle subtitle"
    "ctext ctext ctext ctext ctext"
    "read book . . .";
}
.card-only-icons{
    height: 400px;
    width:340px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img img img img img"
    "title title title title title"
    "subtitle subtitle subtitle subtitle subtitle"
    "ctext ctext ctext ctext ctext"
    ". . fav share more";
}

.card-only-icons .card-btn-1,.card-only-icons .card-btn-2{
    color: transparent;
    pointer-events: none;
    cursor: default;
    z-index: -9;
}

.card-only-buttons .card-icon-1,.card-only-buttons .card-icon-2,.card-only-buttons .card-icon-3{
    color: transparent;
    pointer-events: none;
    cursor: default;
    z-index: -9;
}

.card-text-over-image{
    height: 340px;
    width:340px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img img img img img"
    "title title title title title"
    "subtitle subtitle subtitle subtitle subtitle"
    "ctext ctext ctext ctext ctext"
    ". . fav share more";
}
.card-text-over-image .card-body{
    position: relative;
}

.card-text-over-image .card-title{
    position: absolute;
    bottom:150px;
    color: var(--white);
}

.card-text-over-image .card-subtitle{
    position: absolute;
    bottom: 110px;
    color: var(--white);
}

.card-with-header{
    height: 400px;
    width:340px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title title title title title"
    "subtitle subtitle subtitle subtitle subtitle"
    "img img img img img"
    "ctext ctext ctext ctext ctext"
    "read book fav share more";
}

.card-with-header .card-text{
    position: relative;
    bottom: -210px;
}

.card-with-header .card-actions{
    position: relative;
    bottom: -240px;
}

.card-with-header .card-img-top{
    position: relative;
    top: -100px;
    border-radius: 0;
}

.card-horizontal-image-text{
    height: 170px;
    width:340px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img img img img img"
    "title title title title title"
    "subtitle subtitle subtitle subtitle subtitle"
    "ctext ctext ctext ctext ctext"
    "read book fav share more";
}

.card-horizontal-image-text .card-text{
    display: none;
}
 
.card-horizontal-image-text .card-img-top{
    height:100px;
    width:110px;
} 

.card-horizontal-image-text .card-body{
    border-style: none;
    position: relative;
    top:-82px;
}

.card-horizontal-image-text .card-title,.card-horizontal-image-text .card-subtitle{
    position: relative;
    left:120px;
    top:-10px;
}

.card-badge,.card-dismiss{
    position: relative;
}
.card-badge .badge{
    position: absolute;
    top:10px;
    right:10px;
}

.card-dismiss .card-close-icon{
    position: absolute;
    top:10px;
    right:10px;
    font-size: 1.7rem;
    cursor:pointer;
}

.card-text-only .card-img-top {
    display: none;
}

.card-text-only{
    height: 180px;
    width:340px;
    padding-top: 5px;
}

.card-shadow{
    box-shadow: 0 4px 8px 0 var(--shadow-black);
    transition: 0.3s;
}

.card-shadow:hover{
    box-shadow: 0 8px 16px 0 var(--shadow-black);
}

/* Images */

.image-container{
    width:100%;
    height:min-content;
    border:2px solid var(--container-border-white);
    background-color: var(--container-background-white);
    padding: 1rem;
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    gap:2rem;
}

.img-square{
    height:150px;
    width:150px;
}

.img-circle{
    border-radius: 50%;
    height:150px;
    width:150px;
}

.img-resp{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.responsive-container{
    width:600px;
    min-height: 100px;
}

/* Input */

.input-group{
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    gap:5px;
    margin-bottom: 0.8rem;
    position: relative;
}

input{
    padding: 0.2rem;
}

.input-container{
    width:100%;
    height:min-content;
    border:2px solid var(--container-border-white);
    background-color: var(--container-background-white);
    padding: 1rem;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}

.input-group .btn {
    position: absolute;
    top:27px;
    right:-26px;
    padding:7px;
    height:29px;
    width: 31px;
}
.txt-input{
    width:18rem;
    height: 8rem;
    padding: 0.3rem;
    font-size: 0.9rem;
}

.error-input{
    border: 1px solid var(--dark-red);
}

.error-label{
    color:var(--dark-red);
}

.warning-input{
    border: 1px solid var(--dark-orange);
}

.warning-label{
    color:var(--dark-orange);
}

.success-input{
    border: 1px solid var(--dark-green);
}

.success-label{
    color:var(--dark-green);
}

.radio-container{
    display: flex;
    gap:15px;
}

.radio{
    cursor: pointer;
}

.error-show{
    color:var(--dark-red);
}

/* Navigation */

.nav{
    display:flex;
    align-items: center;
    background-color: cadetblue;
    justify-content: space-between;
    background-color: var(--hot-pink);
    padding: 0 2rem;
}

.nav .left{
    display: flex;
    align-items: center;
}

.nav .right{
    display: flex;
    align-items: center;
}

.nav .right .btn,.nav .left .btn{
    background-color: transparent;
}
.pb{
    padding-bottom: 0.8rem;
}
.input-group input{
    padding: 0.2rem;
    border-radius: 0.3rem;
    border: 3px solid transparent;
    font-family: var(--font-family);
    background-color: var(--card-body-border-white);
    outline: none;
}

.nav .input-group{
    padding:0;
    margin-bottom: 0;
    margin-right: 15px;
}

.nav .input-group input:focus {
    border: 3px solid var(--background-gray);
  }

.brand{
    font-family: var(--brand-font);
    font-weight: 700;
}

input::placeholder{
    font-family: var(--brand-font);
}

.nav .left .brand{
    height: min-content;
    width: min-content;
}

.nav .logo{
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .nav .input-group input{
        width:3.5em;
        height:1.5em;
    }
    .nav .input-group input::placeholder{
        font-size: 0.6em;
    }
    .nav{
        /* width:100%; */
        font-size: 0.6em;
    }

    .nav .left a .brand{
        font-size:0.3em;
        padding-bottom: 0;
    }
  }

/* Rating */

.rating-container{
    width:100%;
    height:min-content;
    border:2px solid var(--container-border-white);
    background-color: var(--container-background-white);
    padding: 1rem;
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    gap:25px;
}

.rating{
    background-color:var(--light-pink);
    padding: 0.5rem;
    cursor: default;
}

.rating-icon-checked{
    color:var(--hot-pink);
}

.rating-number{
    font-size: 1.1rem;
}

.rating-icon{
    color:var(--light-pink);
}

.rating-star{
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

.rating-icon:hover{
    color:var(--hot-pink);
}

.rating-success{
    background-color: var(--rating-success-background);
}

.rating-success .rating-icon-checked{
    color:var(--dark-green);
}

.rating-warning{
    background-color: var(--light-orange);
}

.rating-warning .rating-icon-checked{
    color:var(--dark-orange);
}

.rating-error{
    background-color: var(--light-red);
}

.rating-error .rating-icon-checked{
    color:var(--dark-red);
}

/* Toast */

.toast{
    width:20%;
    height:50px;
    margin:1rem;
    border-radius:0.3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--alert-background-white);
    flex-wrap: wrap;
    position: relative;
}

.toast-success{
    background-color: var(--light-green);
    color: var(--darker-green);
}

.toast-primary{
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.toast-error{
    color: var(--dark-red);
    background-color: var(--light-red);
}

.toast-warning{
    color: var(--dark-orange);
    background-color: var(--light-orange);
}

.toast i {
    padding-right:10px;
}

.toast-container{
    width:100%;
    height:min-content;
    border:2px solid var(--container-border-white);
    background-color: var(--container-background-white);
    padding: 1rem;
    display: flex;
    margin: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}

.toast .close {
    position: absolute;
    right: 10px;
    font-size: 1.6rem;
    color:var(--alert-close-brown);
    cursor: pointer;
}

.toast .close:hover{
    color:var(--alert-close-hover-black);
}

.btn-pink{
    background-color: var(--hot-pink);
}

.timed-toast{
    display: none;
    position: absolute;
    top:10px;
    right:10px;
    z-index: 3;
}

.timed-toast .close{
    top:14px;
}